@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    Phone : 425.555.0100 <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ostore.com">Support@ostore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ostore.com">Marketing@ostore.com</a>
</address>